* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  margin: 0;
} */

.bg-custom-header {
  background-color: #b7cde2;
}

.text-bg {
  color: #2364ac !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  background-color: #91b4d5;
  border: none;
  color: white !important;
}

.text-sub {
  color: white;
}

.drop-color {
  text-decoration: none;
  color: #2364ac;
}

.container li {
  font-weight: 600;
  font-family: dosis;
}

.drop-fonts {
  font-weight: 600;
  font-family: dosis;
}

.mg-left {
  margin-left: 80px;
}

#teste li a:hover {
  color: #464e52 !important;
}

.drop-color:hover {
  color: #464e52;
}

/* header */
header {
  height: 170px;
  width: 1349px;
}
/* Fim header */

/* Footer */

footer {
  background-color: #d3edfc;
  padding-top: 31px;
  padding-bottom: 31px;
  color: #2264ac;
  font-family: roboto;
  font-weight: 300;
}

/* Quem somos */

.h1-quemsomos h1 {
  color: #2264ac;
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.p-quemsomos p {
  font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 20px;
  margin: 0;
}

.p-center {
  width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.p-carisma p {
  font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 20px;
  margin: 0;
}

.h2-carisma {
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

#homilias a {
  color: #44364e;
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}
/* 
.h-center {
  width: 980px;
  padding: 0 20px;
  margin: 0 auto;
} */

.borda-custom {
  border-bottom: 2px solid red;
  width: 20px;
  height: 1;
}

.title-homilias span {
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  color: #2264ac;
}

.span-padding {
  padding: 15px 25px;
}

.btn-custom {
  padding: 15px 0 20px;
  /* padding: 40px 0 20px; */
}

.button-bb {
  background: #2264ac;

  height: 45px;
  border: none;
  border-radius: 100px;
  padding: 0px 23px;
  /* margin: 40px auto 0px 0px; */
  animation: 1s ease 0s 1 normal forwards running lbWRkT;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 3%) 0px 10px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.h2-acoes h2 {
  margin: 0 0 20px;
  padding: 0;
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.h5-title {
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}
