* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.bg-custom-header {
  background-color: #b7cde2;
}

.text-bg a {
  color: #2364ac !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  background-color: #91b4d5;
  border: none;
  color: white !important;
}

.text-sub {
  color: white;
}

.drop-color {
  text-decoration: none;
  color: #2364ac;
}

.container li {
  font-weight: 600;
  font-family: dosis;
}

.drop-fonts {
  font-weight: 600;
  font-family: dosis;
}

.mg-left {
  margin-left: 80px;
}

#teste li a:hover {
  color: #464e52 !important;
}

.drop-color:hover {
  color: #464e52;
}

/* header */
header {
  height: 170px;
  width: 1349px;
}

.navbar {
  z-index: 999;
}
/* Fim header */

/* Footer */

footer {
  background-color: #d3edfc;
  padding-top: 31px;
  padding-bottom: 31px;
  color: #2264ac;
  font-family: roboto;
  font-weight: 300;
}

/* Quem somos */

.h1-quemsomos h1 {
  color: #2264ac;
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.p-quemsomos p {
  font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 20px;
  margin: 0;
}

.p-center {
  /* width: 980px; */
  padding: 0 20px;
  margin: 0 auto;
}

.p-text-center {
  width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.p-carisma p {
  font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 20px;
  margin: 0;
}

.h2-carisma {
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

#homilias a {
  color: #44364e;
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.borda-custom {
  border-bottom: 2px solid red;
  width: 20px;
  height: 1;
}

.title-homilias span {
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  color: #2264ac;
}

.span-padding {
  padding: 15px 25px;
}

.btn-custom {
  padding: 15px 0 20px;
}

.button-bb {
  background: #2264ac;

  height: 45px;
  border: none;
  border-radius: 100px;
  padding: 0px 23px;

  animation: 1s ease 0s 1 normal forwards running lbWRkT;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 3%) 0px 10px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.h2-acoes h2 {
  margin: 0 0 20px;
  padding: 0;
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.h5-title {
  font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

.bg-light {
  background: #b7cde2 !important;
}

/* // Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  header {
    width: 414px;
    height: 196px;
  }

  .p-center {
    /* width: auto; */
    /* width: 980px; */
    padding: 0 48px;
    margin: 0 auto;
  }

  .p-text-center {
    width: auto;
    padding: 0 20px;
    margin: 0 auto;
  }

  .img-responsivo {
    width: 310px;
    height: 243px;
  }

  .h1-quemsomos h1 {
    font-size: 30px;
  }

  .card-size {
    width: 267px;
  }

  .centro-card {
    display: block;
  }

  .text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons-footer {
    justify-content: center !important;
  }

  .img-mobile {
    width: 408px;
    height: 310px;
  }
}

/* // Dispositivos small (telefones em modo paisagem, com menos de 768px) */
@media (max-width: 767.98px) {
}

/* // Dispositivos médios (tablets com menos de 992px) */

/* // Dispositivos large (desktops com menos de 1200px) */
@media (max-width: 1199.98px) {
}

/* // Dispositivos extra large (desktops grandes)
// Nenhuma media query, já que o breakpoint extra large não possui nenhum limite acima. */

/* @media (max-width: 991.98px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  header {
    width: 768px;
  }

  .centro-card {
    display: block;
  }

  .p-center {
       padding: 0 205px;
    margin: 0 auto;
  }

  .p-text-center {
    width: auto;
    padding: 0 20px;
    margin: 0 auto;
  }

  .img-responsivo {
    width: 390px;
    height: 300px;
  }

  .h1-quemsomos h1 {
    font-size: 30px;
  }

  .card-size {
    width: 267px;
  }
}
 */
